<h3 class="text-center text-success">Sepetiniz</h3>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Ürün Adı</th>
            <th>Adet</th>
            <th>Tutar</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cart of carts let index = index">
            <td>{{ index +1 }}</td>
            <td>{{ cart.product.name }}</td>
            <td>{{ cart.quantity }}</td>
            <td>{{ cart.quantity * cart.product.price }}</td>
            <td></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>Toplam</th>
            <th>{{total}}</th>
        </tr>
    </tfoot>
</table>
<div class="form-group text-end">
    <button class="btn btn-success">Ödeme Yap</button>
</div>